[submodule "explorer"]
	path = explorer
	url = git@github.com:LeolichN/explorer.git
	branch=master
[submodule "libs/bft-smart"]
	path = libs/bft-smart
	url = git@github.com:LeolichN/bftsmart.git
	branch=master
[submodule "project"]
	path = project
	url = git@github.com:LeolichN/jdchain-project.git
	branch=master
[submodule "framework"]
	path = framework
	url = git@github.com:LeolichN/jdchain-framework.git
	branch=chameleonHash
[submodule "core"]
	path = core
	url = git@github.com:LeolichN/jdchain-core.git
	branch=chemaleonHash
[submodule "test"]
	path = test
	url = git@github.com:LeolichN/jdchain-test.git
	branch=master
[submodule "libs/kvdb"]
	path = libs/kvdb
	url = git@github.com:LeolichN/jdchain-kvdb.git
	branch=master

[submodule "libs/binary-proto"]
	path = libs/binary-proto
	url = git@github.com:LeolichN/binary-proto.git
	branch=master
[submodule "libs/utils"]
	path = libs/utils
	url = git@github.com:LeolichN/utils.git
	branch=chemaleonHash
[submodule "libs/httpservice"]
	path = libs/httpservice
	url = git@github.com:LeolichN/httpservice.git
	branch=master
